body{
    height: 97vh;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(185, 212, 255);
    border: 2px solid #aa1c89;
    padding: 1em 0 1em 0;
}

nav{
    background-color: rgb(185, 212, 255);
    border: 2px solid #aa1c89;
    padding: .3em 0 .3em 0;
}

.main{
    background-color: rgb(185, 212, 255);
    margin: 0%;
    display: flex;
    height: 70vh;
}

.left{
    background-color: rgb(185, 212, 255);
    margin-right: -1px;
    border: 2px solid #aa1c89;
    padding: 2em 0 2em 0;
    flex: 1 1 100px;
}

.minor{
    background-color: rgb(185, 212, 255);
    margin-left: -.5px;
    border: 2px solid #aa1c89;
    height: 57.7vh;
    height: 70vh;
    flex: .5 .5 100px;
}


.picture{
    float: left;
    width: 31%;
    height: 200px;
    background-color: rgb(185, 212, 255);
    border: 2px solid #aa1c89;
    margin: 10px;
    margin-right: 5px;
    margin-left: 15px;
}

.about{
    float: left;
    width: 60.2%;
    height: 200px;
    background-color: rgb(185, 212, 255);
    border: 2px solid #aa1c89;
    margin: 10px;
    margin-left: 5px;
    
}

.tweets{
    float: left;
    width: 94%;
    height: 255px;
    background-color: rgb(185, 212, 255);
    border: 2px solid #aa1c89;
    margin: 10px;
    margin-left: 15px;
    
}

footer{
    background-color: rgb(185, 212, 255);
    border: 2px solid #aa1c89;
    padding: 1em 0 1em 0;
}

p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}