*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    height: 81vh;
    text-align: center;
    color: black;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

header{
    border: 3px solid #aa1c89;
    padding: 1em 0 1em 0;
}

nav{
    border: 3px solid #aa1c89;
    padding: 1em 0 1em 0;
}

main{
    border: 3px solid #aa1c89;
    padding: 1em 0 1em 0;
    height: 81vh;
    line-height: 600px;
}

footer{
    border: 3px solid #aa1c89;
    padding: 1em 0 1em 0;
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 1em 0 1em 0;
    }
}